 
@mixin cta-style {
background: linear-gradient
(90deg, 
var(--blue-color) 25%, 
var(--blue-color-light) 50%, 
var(--blue-color) 75%);
background-size: 200% 100%;
animation: shimmer 5s cubic-bezier(0.25, 0.1, 0.25, 1) infinite;
}

:root {
--blue-color: #222f52; 
--blue-color-light: #025ab8; 
--white-color: #FFFFFF; 
--pink-color: #e08478;
}