.flex {
    display: flex;
}

.directionRow {
    flex-direction: row;
}

.directionColumn {
    flex-direction: column;
}

.alignStart {
    align-items: flex-start;
}

.alignCenter {
  align-items: center;
}

.alignEnd {
  align-items: end;
}

.alignStretch {
    align-items: stretch;
}

.justifyStart {
    justify-content: flex-start;
}

.justifyCenter {
  justify-content: center;
}

.justifyBetween {
  justify-content: space-between;
}

.justifyEnd {
    justify-content: end;
}

.justifyAround {
    justify-content: space-around;
}

.gap8 {
    gap: 8px;
}

.gap16 {
    gap: 16px;
}
.gap24 {
    gap: 24px;
}

.gap32 {
    gap: 32px;
}

.gap40 {
    gap: 40px;
}

.gap64 {
    gap: 64px;
}

.max {
    width: 100%;
}

.wrap {
    flex-wrap: wrap;
}